<div class="hero-head">
  <header class="navbar is-fixed-top is-dark">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" (click)="goToTop()" [routerLink]="['/home']">
          <img src="./assets/images/logo.png" alt="Logo">
        </a>
        <span class="navbar-burger burger"
              data-target="mainNavbar"
              [ngClass]="{'is-active': menuOpen}"
              (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="mainNavbar" class="navbar-menu" [ngClass]="{'is-active': menuOpen}">
        <div class="navbar-end">
          <a class="navbar-item" [routerLinkActive]="['is-active']" (click)="goToTop()" [routerLink]="['/academico']">Formação / Acadêmico</a>
          <a class="navbar-item" [routerLinkActive]="['is-active']" (click)="goToTop()" [routerLink]="['/projetos']">Projetos</a>
          <a class="navbar-item" [routerLinkActive]="['is-active']" (click)="goToTop()" [routerLink]="['/profissional']">Profissional</a>
          <a class="navbar-item" target="_blank" href="https://github.com/rafaeleiki">
            <span class="icon"><i class="fab fa-github"></i></span><span>GitHub</span>
          </a>
          <a class="navbar-item" target="_blank" href="https://www.linkedin.com/in/rafaelimamura/">
            <span class="icon"><i class="fab fa-linkedin"></i></span><span>LinkedIn</span>
          </a>
        </div>
      </div>
    </div>
  </header>
</div>
