<div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth navbar is-fixed-bottom has-background-dark">
    <div class="container">
      <ul>
        <li [routerLinkActive]="['is-active']"><a (click)="goToTop()" [routerLink]="['/home']">Eiki</a></li>
        <li [routerLinkActive]="['is-active']"><a (click)="goToTop()" [routerLink]="['/academico']">Formação / Acadêmico</a></li>
        <li [routerLinkActive]="['is-active']"><a (click)="goToTop()" [routerLink]="['/projetos']">Projetos</a></li>
        <li [routerLinkActive]="['is-active']"><a (click)="goToTop()" [routerLink]="['/profissional']">Profissional</a></li>
      </ul>
    </div>
  </nav>
</div>
