/* Initial lang selector */
.lang-selector {
    display: block;
    width: 100%;
    height: 4em;
    font-size: 3em;
    text-align: center;
    color: #fff;
    line-height: 4em;
    font-weight: bold;
    font-family: Raleway;
}

.pt.lang-selector {
    background-color: #1572d8;
}

.en.lang-selector {
    background-color: #249044;
}

.content {
    background-color: #fff;
    border-left: 2em solid #666;
    border-right: 2em solid #666;
    min-height: 100%;
    padding: 4em 2em 2em;
    vertical-align: middle;
}

.main {
    display: block;
    margin-bottom: 4em;
    vertical-align: middle;
}

.home-title {
    display: block;
    font-family: 'Raleway';
    font-size: 200%;
    text-align: center;
    color: #666;
}

a {
    color: #666;
    text-decoration: none;
}

.home-title span {
    color: #1572d8;
}

.picture {
    border: #666 3px solid;
    border-radius: 50%;
    display: block;
    height: 150px;
    margin: auto;
    width: 150px;
}

.description {
    font-family: 'Raleway';
    line-height: 1.5em;
    text-align: center;
    max-width: 620px;
    display: block;
    margin: 0 auto 0.5em;
}

.description * {
    max-width: 100%;
}

.yarner-highlight {
    color: #1B98D6;
    font-weight: bold;
    text-decoration: none;
}

.area-highlight {
    color: #249044;
    font-weight: bold;
}

.social-media {
    display: block;
    margin: 3em auto;
    max-width: 125px;
}

ul.social-media li {
    display: inline-block;
    font-size: 3em;
    margin: 0 0.2em;
}

ul.social-media li:hover * {
    color: #1572d8;
}

.projects-list {
    display: block;
    background-color: #fff;
    cursor: pointer;
}

.projects-list li {
    padding: 0.5em;
    border-bottom: 2px solid transparent;
}

.projects-list li:hover {
    border-bottom: 2px solid red;
}

.projects-list li:nth-child(odd) {
    background-color: #eee;
}

/* ////////////////// Tabs //////////////// */
.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tabs-control-container {
    position: fixed;
    height: 2em;
    width: 100%;
    background-color: #fff;
    font-family: 'Raleway';
    line-height: 2em;
}

.tabs-control {
    display: flex;
    justify-content: space-around;
}

.tabs-control li {
    transition: background-color linear 0.1s;
    text-align: center;
    width: 100%;
    border-bottom: #ddd solid 3px;
    cursor: pointer;
}

.tabs-control li:hover {
    background-color: #eee;
}

.tabs-control .active {
    border-bottom: red solid 3px;
    background-color: #eee;
}

/* Mobile version */
@media all and (max-width: 600px) {
    .tabs-control {
        display: block;
        background-color: #fff;
    }

    .tabs-control-container:before {
        content: '\f0c9';
        font-family: FontAwesome;
        text-align: center;
        display: block;
        border-bottom: 1px solid #ccc;
        z-index: 10;
        position: relative;
    }

    .tabs-control li {
        display: none;
    }

    .tabs-control-container.open li {
        display: block;
        width: 100%;
    }
}
