<div class="card" [ngClass]="{'show': show}">
  <div class="card-image">
    <figure class="image is-4by3" [ngClass]="{ 'video-card': videoUrl || youtubeId }">
      <img *ngIf="imageUrl" [src]="imageUrl" />
      <video *ngIf="videoUrl" autoplay loop controls>
        <source [src]="videoUrl" type="video/mp4">
      </video>
      <iframe *ngIf="youtubeId" [src]="safeYoutubeUrl()" frameborder="0" allowfullscreen></iframe>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img [src]="projectLogoUrl" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4 has-text-dark is-marginless">{{title}}</p>
        <div class="columns">
          <p class="subtitle is-6 column has-text-dark is-inline-block is-marginless">{{role}}</p>
          <p class="subtitle is-6 column has-text-dark is-inline-block has-text-right is-one-fifth">{{duration}}</p>
        </div>
      </div>
    </div>

    <div class="content">
      <p><b>{{subtitle}}</b></p>
      <p [innerHTML]="content"></p>
    </div>
  </div>
</div>
