<section class="section">

  <div class="tile is-ancestor is-desktop">
    <div class="tile is-vertical is-8">
      <div class="tile is-parent">
        <article class="tile is-child box notification is-danger">
          <p class="title">Pesquisa & Desenvolvimento</p>
          <p class="subtitle">Interação Humano-Computador e tecnologias para a educação, foco em leitura e escrita</p>
          <div class="content">
            Mais de 20 prêmios em pesquisa, com 4 artigos publicados. Participação em conferências e feiras
            de ciências nacionais e internacionais. Co-orientador de 10 projetos de pesquisa jovem que conseguiram
            20 prêmios acadêmicos nacionais e internacionais, mentor de 2 projetos.
          </div>
        </article>
      </div>
      <div class="tile is-block-tablet is-flex-desktop">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child box notification is-warning">
            <p class="title">Ciência da Computação</p>
            <p class="subtitle">UNICAMP - Universidade Estadual de Campinas</p>
            <div class="content">
              <p>Campinas, SP, Brasil | 2015 - 2019</p>
              <p>
                Bacharel em Ciência da Computação, certificado em Sistemas de Informação, formado na UNICAMP em 2019.
                Foco de pesquisa em Interação Humano-Computador e tecnologias para educação, orientado por
                Cecília Baranauskas, referência mundial na área. Ganhador do prêmio "Melhor Iniciação Científica 2018"
                do Instituto de Computação da UNICAMP.
              </p>
            </div>
          </article>
          <article class="tile is-child box notification is-warning">
            <p class="title">Técnico em Informática | 2015</p>
            <p class="subtitle">COTUCA - Colégio Técnico de Campinas da UNICAMP</p>
            <div class="content">
              <p>Campinas, SP, Brasil | 2012 - 2015</p>
              <p>
                Técnico em Informática com ênfase em tecnologia para educação no
                Trabalho de Conclusão de Curso.
              </p>
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box notification is-info">
            <p class="title">Destaque em pesquisa jovem</p>
            <p class="subtitle">Projetos com leitura e escrita interativa</p>
            <figure class="image is-4by3">
              <img src="./assets/images/academic.jpg">
            </figure>
          </article>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box notification is-success">
        <div class="content">
          <p class="title">Atividades acadêmicas</p>
          <p class="subtitle">Principais atividades de 2010 a 2019</p>
          <div class="content">
            <ul>
              <li>Bolsista Alumni do Instituto de Computação da UNICAMP (2018/19)</li>
              <li>Microsoft Student Partner (2018)</li>
              <li>Desenvolvedor voluntário no Instituto Cientista Beta (2018)</li>
              <li>Coordenador do programa de desenvolvimento científico para jovens DevY (2017/18)</li>
              <li>Organização da Olimpíada Brasileira de Informática (2017/18/19)</li>
              <li>Bolsista de iniciação científica PIBIC/FAPESP (2017/18/19)</li>
              <li>Mentor de pesquisa no programa Decola Beta (2017)</li>
              <li>Membro do laboratório de pesquisa LInterHAD da UNICAMP (2016/17/18/19)</li>
              <li>Expositor e palestrante na 68ª Reunião Anual da Sociedade Brasileira para o Progresso da Ciência (2016)</li>
              <li>Medalhista em Olimpíadas Acadêmicas: OBI, CRIA, OBMEP (2013/14)</li>
              <li>Monitor no Departamento de Processamento de Dados (2012/13/14)</li>
              <li>Ajudante no setor de informática, com suporte e desenvolvimento do fórum virtual (2010/11)</li>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </div>


</section>
