<section class="section">

  <div class="box has-background-dark has-text-centered">
    <p class="title">Projetos com autoria principal</p>
    <p class="subtitle">Projetos de tecnologia, pesquisa, educação e empreendedorismo</p>
  </div>

  <div class="columns is-desktop">

    <div class="column">
       <app-project-card
         title="Vivros"
         subtitle="A gente acredita em livros"
         projectLogoUrl="./assets/images/vivros.gif"
         duration="2018 - Momento"
         videoUrl="./assets/images/vivros.mp4"
         content='Vivros é uma editora de livros interativos no papel e no celular. Com títulos originais, a Vivros
         oferece "livro mais vivos", em que dependendo de como são lido, o conteúdo em si muda. Buscando criar um
         leitura mais criativa e democrática, a Vivros acredita na importância dos livros de papel para o desenvolvimento infantil,
         mas entende que é necessário a contextualização do material clássico para o mundo atual, digital e dinâmico.
         <a target="_blank" href="https://vivros.com">www.vivros.com</a>'
       ></app-project-card>
    </div>

    <div class="column">
      <app-project-card
        title="Yarner"
        subtitle="E-books interativos"
        projectLogoUrl="./assets/images/yarner.gif"
        duration="2014 - 2016"
        videoUrl="./assets/images/yarner.mp4"
        content='Yarner é um projeto que tem como objetivo melhorar os hábitos culturais de leitura e escrita através de uma plataforma que permite a criação, leitura e compartilhamento de livros digitais interativos.
                Rafael é co-fundador do Yarner, trabalhando com todas as áreas do projeto, incluindo a pesquisa que foi feita baseada nele.
                O projeto recebeu mais de 20 prêmios em feiras de ciência no Brasil e nos Estados Unidos, incluindo prêmios de empresas como Intel, 3M, Oracle e GoDaddy.
                <a target="_blank" href="https://yarner.herokuapp.com">yarner.herokuapp.com</a>'
      ></app-project-card>
    </div>

    <div class="column">
      <app-project-card
        title="CooKing"
        subtitle="App assistente na cozinha"
        projectLogoUrl="./assets/images/cooking.svg"
        duration="2017"
        videoUrl="./assets/images/cooking.mp4"
        content='CooKing é um aplicativo que funciona como seu assistente na cozinha. Com ele, é possível controlar e
        obter ajuda com tudo na cozinha: da seleção do prato ao momento de preparo. Rafael é co-fundador do CooKing.
        O projeto recebeu 2 prêmios de empreendedorismo e foi finalista da final nacional da Imagine Cup 2017.
        <a target="_blank" href="https://fb.com/projetocooking">Facebook do projeto</a>'
      ></app-project-card>
    </div>

  </div>
</section>
