<a [href]="link" target="_blank">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img [src]="image" [alt]="subtitle" loading="lazy">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img [src]="logo" [alt]="title" loading="lazy">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 has-text-dark">{{title}}</p>
          <p class="subtitle is-6 has-text-dark">{{subtitle}}</p>
        </div>
      </div>

      <div class="content">
        <p>{{description}}</p>
        <p><time datetime="2016-1-1">{{time}}</time></p>
      </div>
    </div>
  </div>
</a>
