<header class="menu-header">
  <a href="https://www.fb.com/eikirafael" target="_blank">
    <span class="fa fa-facebook social-icon elevate"></span>
  </a>
  <img src="assets/img/rafaeleiki.jpg" class="menu-pic"/>
  <a href="https://www.linkedin.com/in/rafaelimamura/" target="_blank">
    <span class="fa fa-linkedin social-icon elevate"></span>
  </a>
  <h1>Rafael Eiki</h1>
</header>

<div class="menu-content">
  <section>
    <h2>Resumo</h2>
    <p>
      Formado Técnico em Informática pelo Colégio Técnico de Campinas (COTUCA) em 2015.
      Atualmente cursa Ciência da Computação na Universidade Estadual de Campinas (UNICAMP) e
      é bolsista PIBIC na área de Interação Humano-Computador.
      Professor particular de programação por 4 anos e com 1,5 ano de experiência no
      mercado. 2 anos de experiência como auxiliar didático para o Departamento de Processamento
      de Dados do COTUCA.
    </p>
    <p>
      Possui experiência com pesquisa e projetos acadêmicos e para o mercado. Fez
      parte da delegação brasileira para a Intel International Science and Engineering
      Fair 2016 com o Yarner e foi finalista nacional da Imagine Cup 2017 com o CooKing.
      Se interessa por tecnologia educacional e em movimentos de ciência e programação para o
      ensino básico.
    </p>

    <h2>Atividades atuais</h2>
    <ul>
      <li>Estudante de Ciência da Computação na UNICAMP</li>
      <li>Iniciação científica na área de Interação Humano-Computador e leitura</li>
      <li>Membro do grupo de pesquisa InterHad - Interação de Artefatos Humano-Computador</li>
      <li>Mentor no programa Decola Beta</li>
      <li>Coordenador do programa DevY</li>
      <li>Responsável pela comunicação em mídias e membro do comitê científico da Mostra de Trabalhos de Cursos Técnicos</li>
    </ul>
  </section>

  <section>
    <h2>Projetos em que é autor / co-autor</h2>
    <ul>
      <li>Void Call</li>
      <li>Yarner</li>
      <li>Virada das Coisas</li>
      <li>CooKing</li>
      <li>DevY</li>
      <li>SmartRep</li>
      <li>DefenseSnap</li>
    </ul>

    <h2>Projetos em que participou</h2>
    <ul>
      <li>PlayKids</li>
      <li>Mostra de Trabalhos de Cursos Técnicos</li>
      <li>Decola Beta</li>
    </ul>

    <h2>Competências</h2>
    <ul>
      <li>Programação: Java, Javascript, C, Ruby, Delphi</li>
      <li>Frameworks: Rails, React Web & Native, Spring, Angular</li>
      <li>Desenvolvimento: sites, servidores, BD, apps para desktop e dispositivos móveis</li>
      <li>
        Pesquisa: leitura e escrita, e-learning, Interação Humano-Computador
      </li>
    </ul>
  </section>

  <section>
    <h2>Conquistas</h2>
    <p>No total são 29 conquistas / prêmios, destacando-se:</p>
    <ul>
      <li>
        Vencedor do Hackathon Mod the Future Brasil 2017
      </li>
      <li>
        Finalista nacional da Imagine Cup 2017, uma das maiores competições
        para estudantes universitários do mundo
      </li>
      <li>Destaque por excelente desempenho científico concedido pelo Instituto 3M</li>
      <li>
        4 prêmios na Intel International Science and Engineering Fair 2016:
        4º lugar na categoria Systems Software, GoDaddy Web Innovator
        Award, Outstanding project pela Oracle Academy e Destaque das Américas
        segundo a Organização dos Estados Americanos (OEA)
      </li>
      <li>
        Melhor projeto do estado de São Paulo na Feira Brasileira de Ciências
        e Engenharia - FEBRACE 2016
      </li>
      <li>Campeão nacional da Copa Rio Info de Algoritmo em 2013</li>
    </ul>
  </section>
</div>
