<section class="section">
  <div class="box has-background-dark has-text-centered">
    <p class="title">Mídia</p>
    <p class="subtitle">Notícias, aparições online, entre outros</p>
  </div>


  <div class="news-container columns is-multiline">
    <div class="column is-one-third">
      <app-news-card
        title="COTUCA - UNICAMP"
        subtitle="Trabalho sobre inteligência artificial é premiado em participação do Cotuca na FEBRACE 2019﻿"
        link="https://cotuca.unicamp.br/cotuca/2019/03/25/trabalho-sobre-ia-premiado-cotuca-na-febrace-2019/"
        image="./assets/images/gabi-febrace.jpg"
        logo="./assets/images/cotuca.png"
        description="Gabriela Batista, orientada por André Pasti e Rafael Eiki, recebeu 2 prêmios na maior feira de ciências do país."
        time="25 Mar 2019"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="Microsoft"
        subtitle="Vídeo do Estágio de Inverno"
        link="https://www.youtube.com/watch?v=LKOAM705tpQ"
        image="./assets/images/winter-internship.jpg"
        logo="./assets/images/microsoft.png"
        description="Lançamento do vídeo do estágio de inverno 2018 da Microsoft, em que Rafael é diretor e editor do vídeo."
        time="10:00 AM - 1 Mar 2019"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="Microsoft"
        subtitle="Intern Talk"
        link="https://www.linkedin.com/posts/rafaelimamura_microsoftlife-activity-6511949504101564416-uuFQ"
        image="./assets/images/intern-talk.jpg"
        logo="./assets/images/microsoft.png"
        description="Convidado para falar sobre uso de tecnologia para educação e como aplicar isso dentro da empresa."
        time="2:00 PM - 14 Fev 2019"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="Microsoft"
        subtitle="From Job To Dream Job Radio Show"
        link="https://www.linkedin.com/feed/update/urn:li:activity:6539851499294470144/"
        image="./assets/images/radio-show.jpg"
        logo="./assets/images/microsoft.png"
        description="Convidado para falar sobre a experiência de estágio, embaixador de redes sociais e o Microsoft Student Partner."
        time="10:00 AM - 14 Fev 2019"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="Folha de S. Paulo"
        subtitle="Startups criam plataformas que levam histórias dos livros às telas"
        link="https://www1.folha.uol.com.br/mpme/2019/01/startups-criam-plataformas-que-levam-historias-dos-livros-as-telas.shtml"
        image="./assets/images/folha-vivros.jpg"
        logo="./assets/images/folha.png"
        description="Empresas conquistam crianças com aplicativos que gravam narração e têm jogos relacionados aos livros."
        time="2:00 PM - 20 Jan 2019"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="Matera"
        subtitle="Como estar preparado para um Hackathon?"
        link="http://www.matera.com/blog/post/como-estar-preparado-para-um-hackathon"
        image="./assets/images/fb-hack.jpg"
        logo="./assets/images/matera.png"
        description="Membro do grupo vencedor do Hackathon do Facebook conta sobre sua participação no evento e dicas para poder vencer."
        time="15 Jan 2019"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="Hypeness"
        subtitle="A Diversidade no Vale do Silício: uma visita às maiores empresas do mundo"
        link="https://www.hypeness.com.br/2018/10/a-diversidade-no-vale-do-silicio-uma-visita-as-maiores-empresas-do-mundo/"
        image="./assets/images/campus-hypeness.jpg"
        logo="./assets/images/hypeness.jpg"
        description="Os vencedores da Campus Mobile foram para uma viagem de imersão no Vale do Silício."
        time="2:49 PM - 12 Out 2018"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="Pequenas Empresas & Grandes Negócios"
        subtitle="Startup cria livros que se conectam ao celular e fazem leitor conversar com os personagens"
        link="https://revistapegn.globo.com/Startups/noticia/2018/06/startup-cria-livros-que-se-conectam-ao-celular-e-fazem-leitor-conversar-com-os-personagens.html"
        image="./assets/images/pegn-vivros.jpg"
        logo="./assets/images/pegn.png"
        description="Criada este ano, a Vivros cria publicações com QR Codes, que dão acesso a chatbots, games e imagens."
        time="7:15 AM - 8 Jun 2018"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="UXConfBR"
        subtitle="Escrevendo o futuro: transformando a educação através de tecnologia e interação"
        link="https://www.infoq.com/br/presentations/escrevendo-o-futuro-transformando-a-educacao-atraves-de-tecnologia-e-interacao/"
        image="./assets/images/ux-conf.jpg"
        logo="./assets/images/ux-conf-logo.jpg"
        description="Palestra dada na UXConfBR 2018, a maior conferência de UX do país, que ocorreu em Porto Alegre, RS."
        time="9:30 AM - 19 Mai 2018"
      ></app-news-card>
    </div>


    <div class="column is-one-third">
      <app-news-card
        title="Revista FAPESP"
        subtitle="Desafio em 24 horas"
        link="https://cotuca.unicamp.br/cotuca/2016/04/25/ex-alunos-do-cotuca-participam-de-feira-internacional-nos-estados-unidos/"
        image="./assets/images/paperplay-fapesp.jpg"
        logo="./assets/images/fapesp.png"
        description="Alunos da UNICAMP vencem Hackathon do Facebook Brasil e vão para a final mundial no Vale do Silício."
        time="Mai 2018"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="Instituto Claro"
        subtitle="Conheça os vencedores da 6ª edição da Campus Mobile"
        link="https://www.institutonetclaroembratel.org.br/nossas-novidades/conheca-os-vencedores-da-6a-edicao-do-projeto-campus-mobile/"
        image="./assets/images/campus-vivros.jpg"
        logo="./assets/images/instituto-claro.png"
        description="Jovens empreendedores premiados irão aos Estados Unidos para imersão no Vale do Silício."
        time="6:00 PM - 25 Abr 2018"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="O Globo"
        subtitle="A internet é o que a gente faz dela"
        link="https://oglobo.globo.com/economia/tecnologia/a-internet-o-que-gente-faz-dela-21264890"
        image="./assets/images/isef-globo.jpg"
        logo="./assets/images/oglobo.jpg"
        description="A reportagem aborda como os jovens usam ferramentas digitais para criar impactos positivos."
        time="8:00 AM - 28 Abr 2017"
      ></app-news-card>
    </div>


    <div class="column is-one-third">
      <app-news-card
        title="Veja"
        subtitle="As startups brasileiras que podem ganhar US$ 100 mil da Microsoft"
        link="https://veja.abril.com.br/blog/a-origem-dos-bytes/as-startups-brasileiras-que-podem-ganhar-r-100-mil-da-microsoft/"
        image="./assets/images/veja-imagine.jpg"
        logo="./assets/images/veja.png"
        description="O vencedor do campeonato promovido pela gigante americana também irá premiar com mentoria do CEO Satya Nadella."
        time="11:43 AM - 25 Abr 2017"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="EPTV"
        subtitle="Escolas usam a tecnologia a serviço do aprendizado"
        link="https://gshow.globo.com/EPTV/Mais-Caminhos/noticia/2016/08/escolas-usam-tecnologia-servico-do-aprendizado.html?fbclid=IwAR3B7IfS-p2XPCmbfX4SLRUl8HiaY0xP7xPkpdkVxXXu3E6UqrQ2NluGtSU"
        image="./assets/images/eptv-reportagem.jpg"
        logo="./assets/images/eptv.png"
        description="O repórter foi a Campinas (SP) saber como alunos e professores utilizam aplicativos para tornar os estudos mais atrativos."
        time="9:00 AM - 27 Ago 2016"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="FEBRACE"
        subtitle="Estudantes premiados na Intel ISEF 2016 participam da 68ª Reunião Anual da SBPC"
        link="https://febrace.org.br/imprensa/noticia/552/"
        image="./assets/images/sbpc-febrace.jpg"
        logo="./assets/images/febrace.png"
        description="Os estudantes premiados na Intel ISEF apresentarão suas invenções no Estande de Feiras de Ciências, na ExpoT&C."
        time="1 Jul 2016"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="FEBRACE"
        subtitle="O Brasil na Intel ISEF 2016"
        link="https://www.youtube.com/watch?v=KIFIIa-HFB0"
        image="./assets/images/godaddy.jpg"
        logo="./assets/images/febrace.png"
        description="Documentário acompanhando os jovens cientistas da delegação brasileira na maior feira de ciências do mundo."
        time="15 Jun 2016"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="Agora Paulínia"
        subtitle="Imagem da Semana"
        link="https://www.facebook.com/agorapauliniajornal/photos/a.430061960423920/987672214662889"
        image="./assets/images/agora-paulinia-capa.jpg"
        logo="./assets/images/agora-paulinia.png"
        description="Os alunos do COTUCA, Laura Boscolo e Rafael Eiki, conquistaram 4 prêmios em feira internacional em Phoenix, nos EUA."
        time="3 Jun 2016"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="Época (Globo)"
        subtitle="Estudantes brasileiros levam 12 prêmios em feira internacional de ciências"
        link="https://epoca.globo.com/vida/noticia/2016/05/estudantes-brasileiros-levam-12-premios-em-feira-internacional-de-ciencias.html"
        image="./assets/images/epoca-isef.jpg"
        logo="./assets/images/epoca.png"
        description="Premiados na maior feira internacional de ciências, 7 dos projetos são os melhores das Américas segundo a OEA."
        time="11:40 AM - 20 Mai 2016"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="COTUCA - UNICAMP"
        subtitle="Projeto Yarner, do Cotuca, é premiado na INTEL ISEF 2016 nos Estados Unidos"
        link="https://cotuca.unicamp.br/cotuca/2016/05/18/projeto-yarner-do-cotuca-e-premiado-na-intel-isef-2016-nos-estados-unidos/"
        image="./assets/images/cotuca-isef.jpg"
        logo="./assets/images/cotuca.png"
        description="Projeto Yarner recebe prêmios de 4 instituições: GoDaddy, Oracle Academy, Intel e a Organização dos Estados Americanos."
        time="18 Mai 2016"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="COTUCA - UNICAMP"
        subtitle="Ex-alunos do Cotuca participam de feira internacional nos Estados Unidos"
        link="https://cotuca.unicamp.br/cotuca/2016/04/25/ex-alunos-do-cotuca-participam-de-feira-internacional-nos-estados-unidos/"
        image="./assets/images/febrace.jpg"
        logo="./assets/images/cotuca.png"
        description="Projeto de ex-alunos ganha 1º lugar na feira nacional e é selecionado para representar o país na mundial."
        time="25 Abr 2016"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="USP"
        subtitle="Campus Mobile premia inovação no desenvolvimento de aplicativos"
        link="https://www5.usp.br/103823/nova-edicao-do-campus-mobile-traz-criatividade-e-inovacao-no-desenvolvimento-de-aplicativos"
        image="./assets/images/campus-usp.jpg"
        logo="./assets/images/usp.png"
        description="Programa Campus Mobile premia talentos em competição para desenvolvimento de aplicativos para dispositivos móveis."
        time="26 Jan 2016"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="3M"
        subtitle="Mostra de Ciências do Instituto 3M leva três projetos à FEBRACE"
        link="https://news.3m.com/node/5549"
        image="./assets/images/3m-fair.jpg"
        logo="./assets/images/3m.png"
        description="Projetos ganhadores da Mostra de Ciências do Instituto 3M foram escolhidos para participar da maior feira de ciências do país."
        time="8:34 AM - 26 Nov 2015"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="COTUCA - UNICAMP"
        subtitle="Trabalhos do Cotuca são finalistas da III Mostra de Ciência e Tecnologia do Instituto 3M"
        link="https://cotuca.unicamp.br/cotuca/2015/11/02/trabalhos-do-cotuca-sao-finalistas-da-iii-mostra-de-ciencia-e-tecnologia-do-instituto-3m"
        image="./assets/images/yarner-mostratec.jpg"
        logo="./assets/images/cotuca.png"
        description="Seis trabalhos do Cotuca são finalistas da III Mostra de Ciência e Tecnologia do Instituto 3M, na sede do Instituto, em Sumaré (SP)."
        time="2 Nov 2015"
      ></app-news-card>
    </div>

    <div class="column is-one-third">
      <app-news-card
        title="UNICAMP"
        subtitle="Cotuca vence 67 escolas técnicas do país na Copa Rio Info de Algoritmo"
        link="https://www.unicamp.br/unicamp/noticias/2013/09/24/cotuca-vence-67-escolas-tecnicas-do-pais-na-copa-rio-info-de-algoritmo"
        image="./assets/images/cria.jpg"
        logo="./assets/images/unicamp.png"
        description="Alunos vencem a competição nacional de algoritmo, orientados pelo professor Francisco Rodrigues."
        time="3:16 PM - 24 Set 2013"
      ></app-news-card>
    </div>

  </div>
</section>
