@import "node_modules/bulma/sass/utilities/_all.sass"

@include mobile
  .news-container
    overflow-x: scroll
    max-width: 100%

  .columns
    display: flex
    flex-direction: row
    flex-wrap: nowrap

  .column
    min-width: 90%
