<section class="section">

  <p class="title has-text-centered">Mídia</p>
  <p class="subtitle has-text-centered">Notícias, aparições online, entre outros</p>

  <div class="news-container columns is-multiline">


    <div *ngFor="let newsPiece of news;" class="column is-one-third">
      <app-news-card
        title={{newsPiece.title}}
        subtitle={{newsPiece.subtitle}}
        link={{newsPiece.link}}
        image={{newsPiece.image}}
        logo={{newsPiece.logo}}
        description={{newsPiece.description}}
        time={{newsPiece.time}}
      ></app-news-card>
    </div>

    <!-- <div class=


    <div class="column is-one-third">
      <app-news-card
        title="UNICAMP"
        subtitle="Cotuca vence 67 escolas técnicas do país na Copa Rio Info de Algoritmo"
        link="https://www.unicamp.br/unicamp/noticias/2013/09/24/cotuca-vence-67-escolas-tecnicas-do-pais-na-copa-rio-info-de-algoritmo"
        image="./assets/images/cria.jpg"
        logo="./assets/images/unicamp.png"
        description="Alunos vencem a competição nacional de algoritmo, orientados pelo professor Francisco Rodrigues."
        time="3:16 PM - 24 Set 2013"
      ></app-news-card>
    </div> -->

  </div>
</section>
