:host {
  display: flex;
  min-height: 100%;
  background-color: transparent;
}

.light {
  color: #000;
}

.dark {
  color: #fff;
}

.title {
  color: #fff;
  font-size: 3em;
  text-shadow: #000 2px 0 36px;
  text-align: center;
}

.general-info {
  width: 30%;
  min-width: 320px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.app-bar {
  background-color: transparent;
  height: 6em;
  padding: 0 1em;
  position: absolute;
}

.home-button {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 2.5em;
  cursor: pointer;
  height: 100%;
  line-height: 2.5em;
  margin: 1em;
  position: absolute;
  z-index: 2;
}

.bg {
  transition: transform 0.2s linear;
}

.home-button:hover .arrow {
  animation: move-arrow infinite 1s;
}

.home-button:hover .bg {
  transform: scale(1.2);
}

@keyframes move-arrow {
  0%   { left: -4px; }
  50%  { left: 0; }
  75%  { left: 2px; }
  95%  { left: 0; }
  100% { left: -4px; }
}

.content-container {
  padding: 6em 2em 0 2em;
  font-size: 1.2em;
  min-height: 100%;
  max-width: 69%;
  position: relative;
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon-bg {
  color: #fff;
}

h1, h2, h3, p, section {
  font-family: 'Raleway', sans-serif;
}

.symbol {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  box-shadow: #000 0 0 16px;
  border-radius: 50%;
  overflow: hidden;
}

.description {
  flex: 2;
  padding: 2em;
  text-align: left;
}

@media all and (max-width: 1080px) {
  .content-container {
    padding: 0;
  }
}

@media all and (max-width: 700px) {
  :host {
    flex-direction: column;
  }

  .general-info {
    width: 100%;
    position: relative;
  }

  .home-button {
    margin: 0;
  }

  .symbol {
    width: 200px;
    height: 200px;
    margin: 2em 0 0;
  }

  .content-container {
    max-width: 100%;
  }
}

@media all and (min-width: 700px) {
  .content-container {
    max-width: 70%;
  }
}
