<a class="home-button" href="/">
  <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x icon-bg bg"></i>
    <i class="fa fa-circle-o fa-stack-2x bg"></i>
    <i class="fa fa-arrow-left fa-stack-1x arrow"></i>
  </span>
</a>
<div [class]="project.light ? 'light' : 'dark'">
  <div class="general-info" [style.backgroundColor]="bgColor()">
    <div [innerHTML]="project.symbol" class="symbol"></div>
    <h1 class="title">{{project.name}}</h1>
  </div>
  <div class="content-container"
       [style.backgroundColor]="bgColor()"
       [style.position]="project.short ? 'absolute' : 'relative'">
    <div class="content">
      <section class="description" [innerHTML]="bypassSanitizer(project.desc)"></section>
    </div>
  </div>
</div>
