<section class="section">
  <p class="title is-1 has-text-centered">Mercado</p>
  <p class="subtitle is-3 has-text-centered">Experiências profissionais no mercado</p>


  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Vivros</p>
            <p class="subtitle">Co-fundador | Jun 2018 - Momento</p>
            <div class="content">
              <p>
                Responsável por negócios e interação na Vivros. Startup vencedora da Campus Mobile 2018 e Top 6 na
                final latinoamericana da Imagine Cup 2018. Mais detalhes <a [routerLink]="['/projetos']">aqui</a>.
              </p>
            </div>
            <figure class="image is-4by3 video-card">
              <video autoplay loop controls>
                <source src="./assets/images/vivros-imagine.mp4" type="video/mp4">
              </video>
            </figure>
          </article>
        </div>
        <div class="tile is-parent is-vertical">
          <article class="tile is-child box">
            <p class="title">Microsoft</p>
            <p class="subtitle">Estagiário em Engenharia de Software</p>
            <div class="content">
              <p>Redmond, Washington, EUA | Dez 2018 - Mar 2019</p>
              <p>Estágio no Business Application Group desenvolvendo uma feature para ajudar publicadores parceiros e clientes do Dynamics 365 em uma estrutura backend complexa usando C#.</p>
            </div>
          </article>
          <article class="tile is-child box">
            <p class="title">Instituto Cientista Beta</p>
            <p class="subtitle">Desenvolvedor de Software</p>
            <div class="content">
              <p>Remoto | Fev 2018 - Dez 2018</p>
              <p>Desenvolvimento das plataformas virtuais do Decola Beta e Mapa das Feiras, impactando o programa com mais de 100 jovens, mentores e mentores parceiros.</p>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="content">
          <p class="title">Movile / PlayKids</p>
          <p class="subtitle">Analista de Desenvolvimento Jr.</p>
          <div class="content">
            <p>Campinas, SP, Brasil | Nov 2015 - Mai 2016</p>
            <p>Equipe de TI do servidor e de tecnologias Web do PlayKids, com 6 milhões de usuários ativos por mês em mais de 25 países.</p>
            <ul>
              <li>Tecnologias: Ruby on Rails, App Script, JavaScript, Java.</li>
              <li>Experiências com desenvolvimento de um app global, internacionalização, levantamento de requisitos, atendimento ao cliente, produtos e trabalho com a infraestrutura e banco de dados do projeto.</li>
            </ul>
          </div>
          <p class="subtitle">Estagiário Desenvolvedor Full-Stack</p>
          <div class="content">
            <p>Campinas, SP, Brasil | Jan 2015 - Out 2015</p>
            <p>Estagiário na equipe de desenvolvimento web do PlayKids. Tecnologias: Ruby on Rails, App Script, JavaScript. Experiências com desenvolvimento de um app global, internacionalização, levantamento de requisitos, atendimento ao cliente, produtos e trabalho com a infraestrutura e banco de dados do projeto.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
