/* You can add global styles to this file, and also import other style files */
$dimensions: 16 24 32 48 64 96 128 256 358
$warning: hsl(43, 65%, 48%)

@import "../node_modules/bulma/bulma.sass"

.hero
  background: url("/assets/images/bg.png")

.card
  transition: box-shadow linear 0.1s

.card:hover
  box-shadow: 2px 1px 5px $grey-darker, -1px 0 4px #000, 0 2px 10px #000
