<div class="hero-body">
  <div class="container has-text-centered">

    <figure class="image is-256x256 is-inline-block">
      <img class="is-rounded" src="./assets/images/rafael.jpg">
    </figure>

    <h1 class="title is-1">Rafael Eiki</h1>
    <h2 class="subtitle is-4">Programador, pesquisador e empreendedor</h2>

    <br />

    <nav class="level is-mobile is-white">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Prêmios</p>
          <p class="title">35</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Artigos</p>
          <p class="title">4</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Mentorados</p>
          <p class="title">33</p>
        </div>
      </div>
    </nav>
  </div>
</div>

<app-news></app-news>
