<div class="main-container">
  <div class="picture-container">
    <img src="assets/img/eiki.jpg" class="main-picture" />
    <div class="info">
      Rafael Eiki
    </div>
    <div>
      <a href="https://www.linkedin.com/in/rafaelimamura/"><i class="fa fa-linkedin"></i></a>
      <a href="https://fb.com/eikirafael"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
  <div class="footer">2018</div>
  <div class="container">
    <ul class="project-list">
      <li class="project vivros"><a href="/projects/vivros"><img src="assets/img/vivros.png" /></a></li>
      <li class="project yarner"><a href="/projects/yarner"><img src="assets/img/yarner-f.png" /></a></li>
      <li class="project cooking"><a href="/projects/cooking"><img src="assets/img/cooking.svg" /></a></li>
      <li class="project devy"><a href="/projects/devy"><img src="assets/img/devy.png" /></a></li>
      <li class="project cb"><a href="/projects/cientista-beta"><img src="assets/img/cientista_beta.png" /></a></li>
      <li class="project interhad"><a href="/projects/interhad"><img src="assets/img/interhad.png" /></a></li>
      <li class="project playkids"><a href="/projects/playkids"><img src="assets/img/playkids.png" /></a></li>
      <li class="project defense-snap"><a href="/projects/defense-snap"><img src="assets/img/defense_snap.png" /></a></li>
      <li class="project mostra"><a href="/projects/mostractc"><img src="assets/img/mostra.png" /></a></li>
      <li class="project virada"><a href="/projects/virada"><img src="assets/img/virada.jpg" /></a></li>
      <li class="project smart-rep"><a href="/projects/smart-rep"><img src="assets/img/smartrep.png" /></a></li>
    </ul>
  </div>
</div>
