.main-container {
  display: flex;
  background: #fff url("/assets/img/bg.png") no-repeat bottom right;
  background-size: contain;
}

.picture-container {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-direction: column;
}

.main-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.info {
  color: #343434;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: #000 0 1px 1px;
  margin: 0.5em;
  background-color: #fff;
  padding: 0.5em;
  border-radius: 1em;
}

.fa-linkedin, .fa-facebook {
  height: 1em;
  width: 1em;
  text-align: center;
  padding: 0.5em;
  color: #fff;
  font-size: 1.5em;
  border-radius: 50%;
}

.fa-linkedin { background-color: #0077b5; }
.fa-facebook { background-color: #3b5998; }

.footer {
  position: fixed;
  bottom: 0;
  padding-left: 1em;
  padding-bottom: 1em;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
}

.container {
  flex: 1;
  margin-left: 400px;
}

.project-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  width: 200px;
  height: 200px;
  margin: 1em;
  border-radius: 1em;
  line-height: 200px;
  text-align: center;
  box-shadow: #222 0 2px 8px;
}

.project:hover {
  box-shadow: #000 0 4px 16px;
}

.project a {
  display: block;
}

.project img {
  max-width: 150px;
  display: inline;
  vertical-align: middle;
}

.project label {
  background-color: #000;
  color: #fff;
  position: relative;
  bottom: 0;
}

.about-link {
  text-align: center;
  text-decoration: none;
}

.project.vivros { background-color: #e9cf1a; }
.project.yarner { background-color: #1B98D6; }
.project.cooking { background-color: #f23100; }
.project.devy { background-color: #6851a7; }
.project.cb { background-color: #f74245; }
.project.interhad { background-color: #89b03f; }
.project.playkids { background-color: #947cfb; }
.project.defense-snap { background-color: #3b5fc8; }
.project.mostra { background-color: #131313; }
.project.smart-rep { background-color: #1c4587; }
.project.virada { background-color: #ff559e; }
