<div class="main-container">
  <div class="picture-container">
    <img src="assets/img/eiki.jpg" class="main-picture" />
    <div class="info">
      Rafael Eiki
    </div>
    <div>
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-facebook"></i>
    </div>
  </div>
  <div class="footer">2018</div>
  <div class="container">
    <ul class="project-list">
      <li class="project vivros"><img src="assets/img/vivros.png" /></li>
      <li class="project yarner"><img src="assets/img/yarner.png" /></li>
      <li class="project cooking"><img src="assets/img/cooking.svg" /></li>
      <li class="project devy"><img src="assets/img/devy.png" /></li>
      <li class="project cb"><img src="assets/img/cientista_beta.png" /></li>
      <li class="project playkids"><img src="assets/img/playkids.png" /></li>
      <li class="project defense-snap"><img src="assets/img/defense_snap.png" /></li>
      <li class="project mostra"><img src="assets/img/mostra.png" /></li>
      <li class="project smart-rep"><img src="assets/img/smartrep.png" /></li>
    </ul>
  </div>
</div>
