.navbar {
  background: linear-gradient(45deg, #2b2523d6, #0f0c0b4f);
  font-weight: bold;
  opacity: 0; 
  animation: fadeInTop 0.6s ease-in-out 1.5s forwards; 
}

.navbar-item, .navbar-item:focus, .navbar-item:focus-within, .navbar-item:active {
  background-color: transparent !important;
  color: #4a4a4a !important;
}

main.container {
  min-height: 100vh;
}

.title {
  color: var(--primary-color);
}

h1.title {
  font-family: var(--font-family);
}

.breadcrumb {
  animation: fadeIn 0.6s ease-in-out forwards;
}

.tabs li.is-active a {
  border-bottom-color: var(--accent-color);
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {

  .navbar-menu {
    background-color: transparent;
  }

  .navbar-menu img {
    filter: invert();
  }

  .navbar-item {
    color: #fff;
  }

  a.navbar-item:hover {
    background-color: #1a341e73;
    color: #fff;
  }

}