.navbar {
  background: linear-gradient(45deg, #2b2523d6, #0f0c0bdc);
  font-weight: bold;
  opacity: 0; 
  animation: fadeInTop 0.6s ease-in-out 1.5s forwards;
  backdrop-filter: blur(4px);
}

.navbar-burger {
  color: #fff;
}

.navbar-item, .navbar-item:focus, .navbar-item:focus-within, .navbar-item:active {
  background-color: transparent !important;
  color: var(--light-color) !important;
}

.navbar-item:hover {
  color: var(--neutral-color) !important;
}

main.container {
  min-height: 100vh;
}

.title {
  color: var(--primary-color);
}

h1.title {
  font-family: var(--font-family);
}

.breadcrumb {
  animation: fadeIn 0.6s ease-in-out forwards;
}

.tabs li.is-active a {
  border-bottom-color: var(--accent-color);
  color: var(--accent-color);
}

@media (max-width: 1024px) {
  .breadcrumb {
    padding-left: 4em;
  }
}

@media (max-width: 768px) {

  .navbar-menu {
    background-color: transparent;
  }

  .image.is-64x64 {
    width: 24px;
    height: 24px;
  }

  .breadcrumb {
    padding-left: 1em;
  }
}