@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

/*
  =====================================
  Variables
  =====================================
*/
:root {
  --font-family: 'Licorice', cursive;
  --navbar-height: 52px;

  --primary-color: #3C4C1E;
  --light-color: #C3D49E;
  --accent-color: #00C8E8;
  --neutral-color: #FFFBCE;
  --visited-color: #5d6945;
  --dark-color: #081600;
  --dark-lighter-color: #4C4637;
  --block-gradient: linear-gradient(45deg, #0c1f1ad6, #043c32dc);
}

/*
  =====================================
  Body and main containers
  =====================================
*/
body {
  background: url('/images/background.svg') no-repeat;
  background-position: 100% 100%;
  background-size: 3000px;
  background-attachment: fixed;
  color: var(--dark-lighter-color);
}

.navbar-padded-container {
  padding: var(--navbar-height) 1em;
}

/*
  =====================================
  General text
  =====================================
*/
a { color: var(--primary-color); }
a:hover { color: var(--accent-color); }
a:visited { color: var(--visited-color); }

.special.title {
  background-image: linear-gradient(45deg, var(--primary-color), var(--accent-color));
  width: fit-content;
  font-size: 5em !important;
  background-clip: text;
  color: transparent;
  padding: 0 0.2em 0.06em 0.06em;
}

/*
  =====================================
  Animation utilities
  =====================================
*/
.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards;
}

/*
  =====================================
  Columns
  =====================================
*/
.columns.grid {
  display: grid;
  grid-template-areas: "first second";
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

.columns.grid .column:nth-child(1) { grid-area: first; }
.columns.grid .column:nth-child(2) { grid-area: second; }

.text-column {
  opacity: 0;
}

.image-column {
  min-height: 350px;
  position: relative;
  opacity: 0;
}

.image-column > span {
  border-radius: 0.5em;
}

.image-column img {
  transition: 0.3s transform ease-in-out;
}

.columns.show .image-column:hover img {
  transform: scale(1.06) rotate(-2deg);
}

.columns.show .text-column + .image-column:hover img {
  transform: scale(1.06) rotate(2deg);
}

.columns.show .column {
  animation-name: fadeInLeft;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.columns.show .column + .column {
  animation-name: fadeInRight;
}

.columns.show .text-column {
  animation-delay: 0.7s;
}

.columns.show .text-column + .text-column {
  animation-delay: 1.2s;
}

/*
  =====================================
  Grid components
  =====================================
*/
.grid-media details {
  padding-top: 1em;
}

.grid-media details > summary {
  list-style: none;
  color: var(--accent-color);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.grid-media details[open] > summary {
  display: none;
}

.grid-media details > summary::after {
  content: ' ▼';
  font-size: 0.8em;
}

/*
  =====================================
  Footer
  =====================================
*/
.column-footer {
  position: absolute !important;
  bottom: 0;
}

.column-footer .footer {
  background: transparent !important;
  padding: 0;
  color: var(--dark-color);
}

.column-footer .footer a {
  color: var(--dark-color);
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInTop {
  0%   { opacity: 0; transform: translateY(-100%); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInRight {
  0%   { opacity: 0; transform: translateX(20%); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInLeft {
  0%   { opacity: 0; transform: translateX(-100%); }
  100% { opacity: 1; transform: translateX(0); }
}

@media print {
  .text-column, .image-column {
    opacity: 1 !important;
  }
}

@media (prefers-reduced-motion: reduce) {
  .text-column, .image-column {
    opacity: 1;
    animation: none;
  }
}

@media (max-width: 768px) {

  .navbar-padded-container {
    padding: var(--navbar-height) 0.5em;
  }

  .text-column {
    padding: 0;
  }

  .special.title {
    font-size: 3em !important;
  }

  .column-footer .footer, .column-footer .footer a {
    color: var(--light-color);
  }

  .column-footer .footer .content {
    gap: 1em;
    flex-direction: row;
  }

  .columns.grid {
    grid-template-areas:
      "first"
      "second";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .columns.grid.has-image .image-column {
    grid-area: first !important;
    height: min(40vh, 400px);
  }

  .columns.grid.columns.grid.has-image .text-column {
    grid-area: second !important;
  }

}
