@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

:root {
  --font-family: 'Licorice', cursive;
  --navbar-height: 52px;
}

body {
  background: url('/images/background.svg') no-repeat;
  background-position: 100% 100%;
  background-size: 3000px;
  background-attachment: fixed;
}

.navbar { opacity: 0; animation: fadeInTop 0.6s ease-in-out 1.5s forwards; }

.navbar-item:focus, .navbar-item:focus-within, .navbar-item:active {
  background-color: transparent !important;
  color: #4a4a4a !important;
}

.navbar-padded-container {
  padding: var(--navbar-height);
}

.title {
  color: #2b4231;
}

h1.title {
  font-family: var(--font-family);
}

.text-column {
  padding-left: 3rem;
  padding-right: 1.5rem;
  opacity: 0;
}

.columns.show .text-column {
  animation: fadeInLeft 0.6s ease-in-out forwards 0.7s;
}

.image-column {
  min-height: 200px;
  position: relative;
  opacity: 0;
}

.image-column img {
  transition: 0.3s transform ease-in-out;
}

.columns.show .image-column:hover img {
  transform: scale(1.06) rotate(-2deg);
}

.columns.show .text-column + .image-column:hover img {
  transform: scale(1.06) rotate(2deg);
}

.columns.show .image-column {
  animation: fadeInLeft 0.6s ease-in-out forwards;
}

.columns.show .text-column + .image-column {
  animation: fadeInRight 0.6s ease-in-out forwards;
}

.columns.show .image-column + .text-column {
  animation: fadeInRight 0.6s ease-in-out forwards 0.7s;
}

@keyframes fadeInBackground {
  0% { background-position-x: calc(100% + var(--background-image-size)); }
  100% { background-position-x: calc(100% + var(--background-image-size) / 2); }
}

@keyframes fadeInTop {
  0%   { opacity: 0; transform: translateY(-100%); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInRight {
  0%   { opacity: 0; transform: translateX(20%); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInLeft {
  0%   { opacity: 0; transform: translateX(-100%); }
  100% { opacity: 1; transform: translateX(0); }
}

@media screen and (max-width: 768px) {

  .text-column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}