.home-hero {
  min-height: 100vh;
  margin-top: 0;
}

.main-link a::before {
  content: '';
  transition: all 0.4s ease-out;
  opacity: 0;
}

.main-link a:hover::before {
  border-left: 1px solid var(--primary-color);
  padding-right: 0.3em;
  opacity: 1;
}

.cover-column {
  max-height: 100vh;
  max-width: 600px;
  position: relative;
}

.title-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: min(5em, 10vw) !important;
}

.cover-column { animation: fadeInLeft 1s ease-in-out; }
.title-column > * { opacity: 0; animation: fadeInRight 0.6s ease-in-out forwards; }
.title-column > *:nth-child(1) { animation-delay: 0.8s; }
.title-column > *:nth-child(2) { animation-delay: 1.1s; }
.title-column > *:nth-child(3) { animation-delay: 1.4s; }
.title-column > *:nth-child(4) { animation-delay: 1.7s; }
.title-column > *:nth-child(5) { animation-delay: 2.0s; }
.title-column > *:nth-child(6) { animation-delay: 2.3s; }

.tagline {
  color: var(--dark-lighter-color);
  margin-top: 0.5em;
}

.contact-link a {
  color: var(--accent-color);
}

.contact-link a:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 768px) {

  .home-hero > .column:first-child {
    display: none;
  }

  .title-column {
    position: relative;
    background-image: url('/images/rafael-full.webp');
    background-size: cover;
    color: #fff;
    padding-top: 100px !important;
  }

  .title-column > * {
    position: relative;
  }

  .title-column::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(to top, rgba(17, 17, 17, 0.85) 40%, rgba(17, 17, 17, 0.35) 100%);
  }

  .title-column a {
    color: var(--light-color);
  }

  .tagline {
    color: rgba(255, 255, 255, 0.8);
  }
}
